.App {
  text-align: center;
}

body {
  margin : 0;
}

.Géographie, .Musique, .Film, .Sport {
  width: 50%;
  height: 100px;
  border: 1px solid black;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 10%;
  align-items: center;
}

.Géographie{
  background-color: red;
}

.Musique{
  background-color: green;
}

.Film {
  background-color: yellow;

}

.Sport{
  background-color: blue;
}

.playerPlace{
  display: flex;
  justify-content: center;
}
